{% load i18n admin_urls %}
{% block object-tools-items %}
<li>
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a href="{% add_preserved_filters history_url %}" class="historylink">{% translate "History" %}</a>
</li>
<li>
<!--    <form action="{% url 'admin:activate' original.pk %}" method="post">-->
<!--        {% csrf_token %}-->
<!--        <button type="submit">Activate</button>-->
<!--    </form>-->
    <a href="{% url 'admin:activate' original.pk %}">Activate</a>

</li>

<script>

</script>
{% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% translate "View on site" %}</a></li>{% endif %}
{% endblock %}
